<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Unit convertor</title>
    <meta name="description" content="An imperial metric convertor">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <header>
      <h1>Imperial-Metric</h1>
    </header>

    <main>
      
      <p>Enter the quantity with unit and click convert</p>
      <p>
        Units supported are:
        <ul>
          <li>gal and L</li>
          <li>lbs and kg</li>
          <li>mi and km</li>
        </ul>
      </p>
      
      <form id="form" action="/api/convert" method="POST">
        <input name="input" type="text" placeholder="2.5mi" aria-labelledby="Quantity input" value="2.1mi">
        <button type="submit" id="submit" name="submit">Convert</button>
      </form>
      <div id="out">
        
      </div>
    </main>
      
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
    <script>
      let output = document.querySelector('#out')
      document.querySelector('#submit').addEventListener('click', (ev) => {
        ev.preventDefault()
        let obj = {input: document.querySelector('input').value}
        fetch('api/convert', {
          method: 'POST',
          mode: 'cors',
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(obj)
        }).then(res => res.json()).then(rep => {
          output.textContent = JSON.stringify(rep, null, 4)          
        })
      })
    </script>
  </body>
</html>
